{% extends "default.html" %}

{% block content %}


<div class="content" id="content">
  <div class="works works1">
    <div class="img-container img1"></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta minus facilis totam dignissimos, dolore quasi numquam perspiciatis.</p>
  </div>
  <div class="works works2">
    <div class="img-container img2"></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta minus facilis totam dignissimos, dolore quasi numquam perspiciatis.</p>
  </div>
  <div class="works works3">
    <div class="img-container img3"></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta minus facilis totam dignissimos, dolore quasi numquam perspiciatis.</p>
  </div>
</div> <!-- Gallery Content -->
<div id="about">
  <h2>Caco o Sapo</h2>
  <h3>Fabric Frog</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo fuga soluta tempore blanditiis ratione! Perferendis perspiciatis assumenda deserunt, doloribus at ut iste expedita adipisci, pariatur soluta accusamus minus! Quam, veniam.</p>
  <div id="contact">
    <span class="icons">
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <i class="fa fa-phone" aria-hidden="true"></i>
      <i class="fa fa-envelope" aria-hidden="true"></i>
    </span>
  </div>
</div>

{% endblock  %}
